.light li a.active{
    background-color: #ebe6e6;
}
.dark li a.active{
    background-color: rgba(94, 94, 94, 0.516);
}

.light .light-hidden{
    display: none;
}

.dark .dark-hidden{
    display: none;
}